body {
 background: url(Imagenes/img-wallpapers-background-by-tic-tic-18456.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.invisible {
    display:none;
}
#Menud34{
    width:200px;
    text-align:right;
    border-color:black;
    background-color:white;
    padding:5px;
    margin:5px;
}
.MenuRestaurantes {
    width:auto;
    text-align:right;  
    padding:10px;
    margin:10px
}


.Registrar {
    text-align:Center;
    color:green;
        
}
.AltaRestaurantes {
    text-align:right;
    color:blue;
}

h3 {
    margin: auto;
    padding: inherit;
    font-family:Candara,Arial;
    border:double;
    text-align:center;
    background-color:green;
}

ul.style3
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	color: White 
}

ul.style3 li
{
	padding: 1.6em 0em 0em 0em;
	margin: 0 0 1em 0;
    text-align:center;
}

ul.style3 p
{
	margin: 0;
}

ul.style3 a
{
	display: block;
	text-decoration: none;
	color: Black;
    font-family:Arial;
    text-align:center;

}
ul.style3 h3
{
	padding: 1em 0em 5px 0em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 300;
	color: #FFFFFF;
}

ul.style3 .first
{
	padding-top: 0;
	background: none;
    text-align:end;
}
/* pie de padina*/
#box2
{
	float: left;
	width: 436px;
	padding: 0px 20px;
    text-align:center;
    background-position-x:center;
}
/*CSS de menu empiesa aqui*/
.Menu u ul {
  margin: 0;
  padding: 0;
}
.Menu u li {
  margin: 0;
  padding: 0;
}
.Menu  a {
  margin: 0;
  padding: 0;
}
.Menu  ul {
  list-style: none;
}
.Menu  a {
  text-decoration: none;
}
.Menu  {
  height: 70px;
  background-color: #232323;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  width: auto;
}
.Menu  > ul > li {
  float: left;
  margin-left: 15px;
  position: relative;
}
.Menu  > ul > li > a {
  color: #a0a0a0;
  font-family: Verdana, 'Lucida Grande';
  font-size: 15px;
  line-height: 70px;
  padding: 15px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
.Menu  > ul > li > a:hover {
  color: #ffffff;
}
.Menu  > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.Menu  > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
}
.Menu  > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
.Menu  > ul ul > li {
  position: relative;
}
.Menu  ul ul a {
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.Menu  ul ul a:hover {
  background-color: #f0f0f0;
}
.Menu  ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.Menu  ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
.Menu  ul ul a:hover {
  background-color: #cc2c24;
  color: #f0f0f0;
}
/*CSS de menu termina aqui*/

#BOXP {
border:solid black 1em;
background:url();
background-repeat:no-repeat;
max-width:640px;
max-height:480px;
}
#amazingslider-1 {
float:right;
display:block;position:relative;margin:16px auto 56px;
}
#MensajeB {
 background-image: url(Imagenes/FIBRA.jpeg);
 height:500px;
 width:400px;float:left;
 position:relative;
 background-repeat:no-repeat;
 color:white;
 font-family:'Arial Unicode MS';
 padding:1.5em;
 border-radius:10px;
 float:left;
}
#MensajeB p{
    margin:0.5em;
}
#divslider {
margin:30px auto;
max-width:600px;
}

#divfibra {
    background:url(Imagenes/FIBRA.jpeg);
    width:1400px;
    height:700px;
    padding:2em;
    color:white;
    font-family:Arial;
    max-height:700px;
    max-width:1400px;
    margin:auto;
}
.figure {
    position: relative;
    display: inline-block;
    max-width: 33%;
}

.figure .figcaption {
    text-align: center; 
    width:100%; height:0;
    font-size: 25px; line-height: 0;
    color:white;
    position:absolute; top:50%;
    z-index:1;
}

.figure img {
    display:block;
    max-width: 100%; 
}