<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <connectionStrings>
    <add name="DBCLICKyCOMES" connectionString="Server=SI17\SQLEXPRESS; DataBase=CLICKyCOMES; Trusted_Connection=Yes;" />
    <add name="CLICKyCOMESConnectionString" connectionString="Data Source=SI17\SQLEXPRESS;Initial Catalog=CLICKyCOMES;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>